<div class="container__box">
    <div class="content__wrapper">
        <section class="section__container content border__rounded" id="solutions-index-home">
            <h2 class="title__heading">Knowledge base</h2>
            <div class="content__section">
                <h3 class="heading"><a>Pembayaran</a></h3>
                <div class="article-container">
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">6</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 6 articles</a>
                    </section>
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">6</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 6 articles</a>
                    </section>
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">6</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 6 articles</a>
                    </section>
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">6</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 6 articles</a>
                    </section>
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">4</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 4 articles</a>
                    </section>
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">1</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 1 articles</a>
                    </section>
                </div>
            </div>


            <div class="content__section">
                <h3 class="heading"><a>Pembayaran</a></h3>
                <div class="article-container">
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">6</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 6 articles</a>
                    </section>
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">6</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 6 articles</a>
                    </section>
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">6</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 6 articles</a>
                    </section>
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">6</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 6 articles</a>
                    </section>
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">4</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 4 articles</a>
                    </section>
                    <section class="article-block">
                        <div class="list__lead">
                            <a href="faqlist.html"> Pembayaran <span class="item-count">1</span></a>
                        </div>
                        <ul>
                            <li>
                                <i style='font-size:24px' class='fas'>&#xf518;</i>
                                <div class="ellipsis">
                                    <a href="solutions.html">Tidak
                                        terima kode OTP saat akan melakukan pembayaran ?</a>
                                </div>
                            </li>
                        </ul><a class="see-more" href="faqlist.html">See all 1 articles</a>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>
