<div class="container__box">
    <div class="content__wrapper">
        <section class="section__container content border__rounded" id="solutions-index-home">
            <div class="breadcrumb__links">
                <a> Solution home </a>
                <a>Pembayaran</a>
            </div>
            <h2 class="heading">Pembayaran</h2>
            <p class="info-text"></p>
            <section class="article-list faq__list">
                <div class="faq__row faq__list__row">
                    <i class="icon-article-table-row"></i>
                    <div class="ellipsis faq__title">
                        <a class="c-link">Tidak terima kode OTP saat akan melakukan pembayaran ?</a>
                    </div>
                    <div class="faq__description">
                        Jika menemui kendala kode OTP saat bertransaksi (tidak terkirim / kode salah), kami sarankan
                        untuk memastikan langkah-langkah berikut ini terlebih dahulu...
                    </div>
                    <div class="faq__date">Tue, 18 Jun, 2019 at 1:43 PM</div>
                </div>

                <div class="faq__row faq__list__row">
                    <i class="icon-article-table-row"></i>
                    <div class="ellipsis faq__title">
                        <a class="c-link">Apakah order / Pesanan yang sudah terbatalkan karena melewati batas
                            pembayaran yang ditetapkan oleh MATAHARI.COM masih dapat dibayarkan?</a>
                    </div>
                    <div class="faq__description">
                        Pembayaran akan tetap bisa dilakukan tetapi order yang telah terbatalkan tidak bisa
                        dilanjutkan. Oleh karena itu, pihak finance akan melakukan verifikasi...
                    </div>
                    <div class="faq__date">Tue, 18 Jun, 2019 at 1:46 PM</div>
                </div>

                <div class="faq__row faq__list__row">
                    <i class="icon-article-table-row"></i>
                    <div class="ellipsis faq__title">
                        <a class="c-link">Bagaimana cara konfirmasi pembayaran setelah saya melakukan transfer?</a>
                    </div>
                    <div class="faq__description">
                        Apabila Anda telah melakukan pembayaran melalui transfer, maka untuk mempercepat tim kami
                        melakukan verifikasi pembayaran Anda, silahkan melakukan konfirmas...
                    </div>
                    <div class="faq__date">Mon, 8 Jul, 2019 at 10:42 AM</div>
                </div>

                <div class="faq__row faq__list__row">
                    <i class="icon-article-table-row"></i>
                    <div class="ellipsis faq__title">
                        <a class="c-link">Apakah
                            metode pembayaran dapat diubah?</a>
                    </div>
                    <div class="faq__description">
                        Maaf, perubahan metode pembayaran tidak dapat dilakukan untuk order / pesanan yang sudah
                        diproses.
                    </div>
                    <div class="faq__date">Mon, 8 Jul, 2019 at 10:51 AM</div>
                </div>

                <div class="faq__row faq__list__row">
                    <i class="icon-article-table-row"></i>
                    <div class="ellipsis faq__title">
                        <a class="c-link">Jika saya memilih pembayaran melalui bank transfer dengan harga pembelian
                            yang didiskon, namun pembayaran dilakukan pada hari esok dimana diskon sudah berakhir,
                            apakah saya tetap bisa transfer dengan harga diskon?</a>
                    </div>
                    <div class="faq__description">
                        Anda dapat membeli dengan harga promo, dan membayar sesuai dengan harga tersebut. Pembayaran
                        maksimal 1x24 jam, jika lebih maka pesanan otomatis akan dibatal...
                    </div>
                    <div class="faq__date">Mon, 8 Jul, 2019 at 4:16 PM</div>
                </div>

                <div class="faq__row faq__list__row">
                    <i class="icon-article-table-row"></i>
                    <div class="ellipsis faq__title">
                        <a class="c-link">Setelah mengkonfirmasi pembayaran, apa yang harus dilakukan?</a>
                    </div>
                    <div class="faq__description">
                        Silahkan menunggu konfirmasi dari kami melalui sms/email untuk status pesanan Anda. Atau
                        dapat Anda cek langsung dengan login di website dan klik menu Status...
                    </div>
                    <div class="faq__date">Mon, 8 Jul, 2019 at 4:33 PM</div>
                </div>
            </section>
        </section>
    </div>
</div>