<div class="container__box">
    <div class="content__wrapper">
        <section class="section__container content border__rounded" id="solutions-index-home">
            <div class="breadcrumb">
                <a> Solution home </a>
                <a>Pembayaran</a>
                <a>Kartu Kredit</a>
            </div>
            <b class="page-stamp page-stamp-article">
                <b class="icon-page-article"></b>
            </b>

            <h2 class="heading">Bagaimana cara pembayaran dengan Kartu Kredit / Debit Online ?
                <a class="solution-print--icon print--remove" title="Print this Article" arial-role="link"
                    arial-label="Print this Article">
                    <span class="icon-print"></span>
                    <span class="text-print">Print</span>
                </a>
            </h2>

            <p>Modified on: Tue, 1 Jun, 2021 at 10:53 AM</p>
            <hr>
            <article class="article-body" id="article-body" rel="image-enlarge">
                <p><span style="font-size: 16px;">Lakukan transaksi menggunakan kartu kredit untuk mempermudah
                        pembelian dengan kartu Visa / Master / JCB.</span></p>
                <p dir="ltr"><span style="font-size: 16px;">Pada saat pembayaran, mohon perhatikan detail data kartu
                        kredit yang diperlukan, seperti 16 &nbsp;kartu kredit, masa berlaku kartu kredit dan CVV (3
                        angka di bagian belakang kartu).&nbsp;</span><span dir="ltr" style="font-size: 16px;">Jika
                        data tidak sesuai/tidak valid maka dipastikan transaksi tidak bisa dilanjutkan.</span></p>
                <p dir="ltr"><br></p>
                <p dir="ltr"><span dir="ltr" style="font-size: 16px;">Masukkan 16 digit nomer kartu kredit , 2 digit
                        bulan berlaku, 2 digit tahun berlaku serta 3 digit CVV dibelakang kartu kredit anda pada
                        kolom yang telah disediakan.&nbsp;</span></p>
                <p dir="ltr"><span dir="ltr" style="font-size: 16px;">Anda juga dapat menyimpan Nomor dan Masa
                        berlaku kartu untuk mempermudah ber-Transaksi kedepannya.&nbsp;</span></p>
                <p dir="ltr"><br></p>
                <p dir="ltr"><span dir="ltr" style="font-size: 16px;">Untuk cicilan, saat ini hanya berlaku dengan
                        menggunakan Kredivo saja.</span></p>
                <p dir="ltr"><span dir="ltr" style="font-size: 16px;">Pembayaran dengan Kartu Kredit saat ini hanya
                        bisa memilih full payment.</span><br><span dir="ltr" style="font-size: 16px;">Jika anda
                        ingin merubah menjadi cicilan, silakan menghubungi pihak Bank penerbit kartu untuk proses
                        selanjutnya.</span></p>
                <p dir="ltr"><br></p>
                <p dir="ltr"><br></p>
                <p dir="ltr"><span style="font-size: 16px;">Untuk pemilihan pembayaran Debit Online berikut ini
                        adalah caranya :</span></p>
                <ul>
                    <li dir="ltr">
                        <p dir="ltr"><span style="font-size: 16px;">Pilih melakukan transaksi di Matahari.com dengan
                                memilih payment method kartu kredit/debit</span></p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"><span style="font-size: 16px;">Input nomor kartu debit yang terdaftar di sistem
                                bank dan 3 digit nomor CVV yang tertera pada bagian belakang kartu serta tanggal
                                kadaluarsa kartu pada pada halaman checkout.</span></p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"><span style="font-size: 16px;">Selanjutnya akan menerima password/authorization
                                code yang yang akan dikirimkan ke nomor handphone customer berupa 6 (enam) angka
                                rahasia. (Password / authorization code ini akan selalu berubah setiap kali Customer
                                melakukan transaksi One Time Password (OTP)</span></p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"><span style="font-size: 16px;">Sistem Bank akan mengirimkan One Time Password
                                (OTP) ke nomor handphone/HP Customer yang telah terdaftar di sistem bank</span></p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"><span style="font-size: 16px;">Customer menginput OTP tersebut pada layar
                                konfirmasi yang muncul</span></p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"><span style="font-size: 16px;">Selesai</span></p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"><br></p>
                    </li>
                </ul>
                <p dir="ltr">
                    <span style="font-size: 16px;">
                        Proses refund menggunakan metode pembayaran debit online
                        adalah 30-45 hari kerja yang akan dikembalikan ke rekening bank customer.
                    </span>
                </p>
                <p><br></p>
            </article>
            <hr>
            <p class="article-vote" id="voting-container">
                Did you find it helpful?
                <span class="vote-up a-link" id="article_thumbs_up">
                    Yes
                </span>
                <span class="vote-down-container">
                    <span class="vote-down a-link" id="article_thumbs_down">
                        No
                    </span>
                </span>
            </p>
            <a class="hide a-link" id="vote-feedback-form-link">Send feedback</a>
            <div id="vote-feedback-container" class="hide">
                <div class="lead">Sorry we couldn't be helpful. Help us improve this article with your feedback.
                </div>
                <div id="vote-feedback-form">
                    <div class="sloading loading-small loading-block"></div>
                </div>
            </div>
        </section>
    </div>
</div>