<div class="container__box">
    <div class="content__wrapper">
        <section class="section__container content border__rounded" id="solutions-question-index-home">
            
            <b class="page-stamp page-stamp-article">
                <b class="icon-page-article"></b>
            </b>

            <div id="question-main-container"></div>
            <p class="date" id="solution-question-date-detail"></p>

            <hr>

            <div id="solution-article-answer"></div>
                
            <hr>
            <p class="article-vote" id="voting-container">
                Did you find it helpful?
                <span class="vote-up a-link" id="article_thumbs_up">
                    Yes
                </span>
                <span class="vote-down-container">
                    <span class="vote-down a-link" id="article_thumbs_down">
                        No
                    </span>
                </span>
            </p>
            <a class="hide a-link" id="vote-feedback-form-link">Send feedback</a>
            <div id="vote-feedback-container" class="hide">
                <div class="lead">Sorry we couldn't be helpful. Help us improve this article with your feedback.
                </div>
                <div id="vote-feedback-form">
                    <div class="sloading loading-small loading-block"></div>
                </div>
            </div>
        </section>
    </div>
</div>